    

    /*******************************/
    /* ALIGNMENT TEXT */
    /*******************************/

    .text-center{ text-align: center; }
    .text-left{  text-align: left;  }
    .text-right{ text-align: right;  }

    /*******************************/
    /* DISPLAY NONE */
    /*******************************/


    .display-none{
        display: none !important;
    }

    /*******************************/
    /* MARGIN AND  PADDING */
    /*******************************/


    /*////////////////// margin-0 /////////////////////////*/


    .margin-0{   margin:0px; }
    .margin-t-0{ margin-top:0px; }
    .margin-b-0{ margin-bottom:0px; }
    .margin-l-0{ margin-left:0px; }
    .margin-r-0{ margin-right:0px; }


    /*////////////////// margin-5 /////////////////////////*/

    .margin-5{   margin:5px; }
    .margin-t-5{ margin-top:5px; text-align:left; }
    .margin-b-5{ margin-bottom:5px; }
    .margin-l-5{ margin-left:5px; }
    .margin-r-5{ margin-right:5px; }

    /*////////////////// margin 10 /////////////////////////*/

    .margin-10{   margin:10px; }
    .margin-t-10{ margin-top:10px;  }
    .margin-b-10{ margin-bottom:10px;  }
    .margin-l-10{ margin-left:10px;  }
    .margin-r-10{ margin-right:10px; }


    /*////////////////// margin-20 /////////////////////////*/

    .margin-20{   margin:20px; }
    .margin-t-20{ margin-top:20px; }
    .margin-b-20{ margin-bottom:20px; }
    .margin-l-20{ margin-left:20px; }
    .margin-r-20{ margin-right:20px; }

    /*////////////////// margin-30 /////////////////////////*/

    .margin-30{   margin:30px; }
    .margin-t-30{ margin-top:30px; }
    .margin-b-30{ margin-bottom:30px; }
    .margin-l-30{ margin-left:30px; }
    .margin-r-30{ margin-right:30px; }

    /*////////////////// margin 40 /////////////////////////*/


    .margin-40{   margin:40px;}
    .margin-t-40{ margin-top:40px!important;}
    .margin-b-40{ margin-bottom:40px;}
    .margin-l-40{ margin-left:40px;}
    .margin-r-40{ margin-right:40px;}



    /*////////////////// margin 50 /////////////////////////*/


    .margin-50{    margin:50px;  }
    .margin-t-50{  margin-top:50px;  }
    .margin-b-50{  margin-bottom:50px;  }
    .margin-l-50{  margin-left:50px;  }
    .margin-r-50{  margin-right:50px;   }


    /*////////////////// margin 60 /////////////////////////*/

    .margin-60{    margin:60px; }
    .margin-t-60{  margin-top:60px;  }
    .margin-b-60{  margin-bottom:60px;  }
    .margin-l-60{  margin-left:60px;  }
    .margin-r-60{  margin-right:60px;  }


    /*////////////////// margin 60 /////////////////////////*/

    .margin-60{   margin:60px; }
    .margin-t-60{ margin-top:60px;  }
    .margin-b-60{ margin-bottom:60px;  }
    .margin-l-60{ margin-left:60px;  }
    .margin-r-60{ margin-right:60px;  }

    /*////////////////// margin 70 /////////////////////////*/

    .margin-70{   margin:70px;  }
    .margin-t-70{ margin-top:70px;  }
    .margin-b-70{ margin-bottom:70px;  }
    .margin-l-70{ margin-left:70px;   }
    .margin-r-70{ margin-right:70px;  }

    /*////////////////// margin 80 /////////////////////////*/

    .margin-80{ margin:80px; }
    .margin-t-80{ margin-top:80px;  }
    .margin-b-80{ margin-bottom:80px;  }
    .margin-l-80{ margin-left:80px;  }
    .margin-r-80{ margin-right:80px;  }

    /*////////////////// margin 90 /////////////////////////*/


    .margin-90{   margin:90px; }
    .margin-t-90{ margin-top:90px; }
    .margin-b-90{ margin-bottom:90px; }
    .margin-l-90{ margin-left:90px; }
    .margin-r-90{ margin-right:90px; }

    /*////////////////// margin 100 /////////////////////////*/


    .margin-100{ margin:100px; }
    .margin-t-100{ margin-top:100px; }
    .margin-b-100{ margin-bottom:100px; }
    .margin-l-100{ margin-left:100px; }
    .margin-r-100{ margin-right:100px; }


    /*////////////////// padding 10 /////////////////////////*/

    .padding-10{   padding:10px; }
    .padding-t-10{ padding-top:10px; }
    .padding-b-10{  padding-bottom:10px;  }
    .padding-l-10{  padding-left:10px; }
    .padding-r-10{ padding-right:10px;  }

    /*////////////////// padding 15 /////////////////////////*/

    .padding-15{    padding: 15px;  }
    .padding-t-15{  padding-top: 15px;  }
    .padding-b-15{  padding-bottom: 15px;  }
    .padding-l-15{  padding-left: 15px;  }
    .padding-r-15{  padding-right: 15px;  }

    /*////////////////// padding 20 /////////////////////////*/


    .padding-20{    padding:20px; }
    .padding-t-20{  padding-top:20px;   }
    .padding-b-20{  padding-bottom:20px;    }
    .padding-l-20{  padding-left:20px; }
    .padding-r-20{  padding-right:20px;   }



/*////////////////// padding 30 /////////////////////////*/

    .padding-30{    padding:30px;  }
    .padding-t-30{  padding-top:30px;  }
    .padding-b-30{  padding-bottom:30px; }
    .padding-l-30{  padding-left:30px;  }
    .padding-r-30{  padding-right:30px;   }


/*////////////////// padding 40 /////////////////////////*/

    .padding-40{   padding:40px;  }
    .padding-t-40{ padding-top:40px; }
    .padding-b-40{ padding-bottom:40px; }
    .padding-l-40{ padding-left:40px;  }
    .padding-r-40{ padding-right:40px; }


/*////////////////// padding 50 /////////////////////////*/


    .padding-50{   padding:50px; }
    .padding-t-50{ padding-top:50px;  }
    .padding-b-50{ padding-bottom:50px; }
    .padding-l-50{ padding-left:50px;  }
    .padding-r-50{ padding-right:50px; }

